html,body
{
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
body
{
    line-height: 2;
    font-family: Lato, Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image:url("https://www.united.com/ual/Format/img/backgrounds/home-brand-787dreamliner-usa.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    font-weight: 600;
    padding: 0;
}
