<style>
    .blueBackground
    {
        overflow: auto;
        margin: 0px;
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
        padding: 20px 0;
        min-height: 900px;
        background-color: hsla(219, 100%, 45%, 0.73);
    }
    .FromTo
	{
        text-align: left;
        align-items: left;
        justify-content: left;
        color:#fff;
        padding-right: 0px;
        margin:0px;
        font-size: 300%;
    }
    .FromTo h4
    {
    	padding-left: 45px;
        font-weight: 600;
    }
    hr
    {
    	margin: 0%;
    }
    input[type="submit"]
    {
		border: 0;
	    padding: 10px;
	    font-size: 22px;
	    background: #1fa823;
	    color:white;
		width: 150px;
		font-weight: bold;
		text-align: center;
		margin-top: 20px;
		margin-left: 80%;
		border-radius: 5px;
		margin-bottom: 17px;
    }   
	input[type=submit]:hover 
	{
   		background-color: #136716;
	}
    tr td
    {
        cursor:pointer;
    }
    tbody tr:hover
    {
        background: hsla(219, 100%, 33%, 0.8);
    }
    tr
    {
        width: 100%;
        background: hsla(219, 100%, 25%, 0.84);
    }
    th, td 
    {
        color:white;
        text-align: center;
    }
    th 
    {   
        color:white;
        text-align: center;
    }
    table thead,table tbody
    {
        font-size: 150%;
    }
    table thead
    {
        border-bottom: 1px solid white;
    }
    table tbody
    {
        overflow: auto;
    }
    table
    {
        min-height: 200px;
    }
    tr.ng-enter 
    {
        -webkit-transition: 1.5s;
        transition: 1.5s;
        opacity: 0;
    }
    tr.ng-enter-active {
        opacity: 1;
    }         
</style>
<div class="blueBackground"> 
   	<div class="FromTo">
    	<h4>Flights departing from {{origin}} to {{destination}} on {{dateFixer2(departDate)}}</h4>
    </div>
   	<hr>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Depart</th>
                <th>Arrive</th>       
                <th>Airline</th>
                <th>FlightNo.</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="flight in Flights" ng-click="setDepartFlight(flight,flight.cost)">
                <td> 
                    {{dateFixer(flight.departureDateTime)}} 
                </td>
                <td>
                    {{dateFixer(flight.arrivalDateTime)}}
                </td>
                <td> 
                    {{flight.Airline}} 
                </td>
                <td>
                    {{flight.flightNumber}} 
                </td>
                <td>
                    {{flight.cost}}{{flight.currency}}
                </td>
            </tr>
        </tbody>
    </table>
   	<div class="Proceeding">
   	  <input type="submit" value="Cancel" ng-click="return()">
   	</div>
</div>
