<style>
	


    .FromTo
		{
        text-align: left;
        align-items: left;
        justify-content: left;
        color:#fff;
        margin:0px 45px;
        font-size: 200%;
        font-weight: 600;
    }

    .FlightsTable
    {
    	height: 450px;
        text-align: left;
        align-items: left;
        justify-content: left;
        color:#fff;
        /*margin:0px 45px;*/
        overflow:auto;
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
        font-size: 200%;
        font-weight: 600;
    }

    .blueBackground
    {
        overflow: auto;
        height: 100px;
        font-size: 60%;
        margin: 20px 0px 0px 0px;
        min-height: 583px;
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
        padding: 20px 0 0 0;
        background: hsla(219, 100%, 50%, 0.68);
    }

    .FlightsTable table th        
    {
    	padding:0px 57px;
    }

    .FlightsTable table td       
    {
    	padding:0px 57px;
    	margin:0px 57px;
    }

    input[type="submit"]
    {
		border: 0;
	    padding: 10px;
	    font-size: 22px;
	    background: #1fa823;
	    color:white;
		width: 150px;
		font-weight: bold;
		text-align: center;
		margin-top: 20px;
		margin-left: 80%;
		border-radius: 4px;
		margin-bottom: 17px;
    }
   
	input[type=submit]:hover 
	    {
   		background-color: #136716;
	}

	span
	{
		font-family: Lato;
		color:#BAE6F5;
	}

	.logo
	    {
        margin: 20px 60px ;
        text-align: left;
        width: 180px;
        height: 40px;
    }
</style>
<div class="logo">
    <img src="https://www.united.com/ual/Format/img/logos/unitedLogo-white.png" >
</div>

<div class="blueBackground">
  
   	<div class="FromTo">
     Flights departing from Cairo to Madrid
     <!-- <hr> -->
    </div>


   <div class="FlightsTable">
 	  <table>
		  <thead> 
			  <tr>	
				  <th></th>
				  <th>Depart</th>
				  <th>Arrive</th>
				  <th>Duration</th>
				  <th>Flight Number</th>
				  <th>Price</th>	
			  </tr>		
		  </thead>


		  <tbody>
		 	
			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			    <tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>

			  	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>	<tr>
						<td><input type="radio" name="group"></td>
				  	<td>8:10</td> 
				  	<td>11:10</td>
				  	<td>2 hours</td>
				  	<td>RM9248</td> 
				  	<td>194$</td> 
			  	</tr>		 
		  </tbody>
      </table>
      <br>   
   </div>

   <div class="Proceeding">
   	  <input type="submit" value="Proceed">
   </div>

</div>
