<style>
    .blueBackground
    {
        overflow: auto;
        margin: 20px 0px 0px 0px;
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
        padding: 20px 0;
        background-color: hsla(219, 100%, 45%, 0.73);
    }
    .FromTo
    {
        text-align: left;
        align-items: left;
        justify-content: left;
        color:#fff;
        padding-right: 0px;
        margin:0px;
        font-size: 300%;
    }
    .FromTo h4
    {
        padding-left: 45px;
        font-weight: 600;
    }
    hr
    {
        margin: 0%;
    }
    input[type="submit"]
    {
        border: 0;
        padding: 10px;
        font-size: 22px;
        background: #1fa823;
        color:white;
        width: 150px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-left: 80%;
        border-radius: 5px;
        margin-bottom: 17px;
    }   
    input[type=submit]:hover 
    {
        background-color: #136716;
    }
    .logo
    {
        margin: 20px 45px ;
        text-align: left;
        width: 180px;
        height: 40px;
    }
    tr td
    {
        cursor:pointer;
    }
    tbody tr:hover
    {
        background: hsla(219, 100%, 33%, 0.8);
    }
    tr
    {
        background: hsla(219, 100%, 25%, 0.84);
    }
    th, td 
    {
        width:265px;
        color:white;
        text-align: center;
    }
    th 
    {   
        color:white;
        text-align: center;
    }
    table thead,table tbody
    {
        font-size: 150%;
    }
    table thead
    {
        border-bottom: 1px solid white;
    }
    table tbody
    {
        height: 300px;
        line-height: 80px;
        overflow: auto;
    }
    thead > tr, tbody
    {
        display:block;
    }
</style>
<div class="blueBackground"> 
    <div class="FromTo">
        <h4>Flights departing from {{destination}} to {{origin}}</h4>
    </div>
    <hr>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Depart</th>
                <th>Arrive</th>       
                <th>Duration</th>
                <th>FlightNo.</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="flight in Flights | filter : {origin:destination} | filter : {destination : origin}| filter : dateFilter" ng-click="setReturnFlight(flight,getPrice(flight.costeconomy,flight.costfirst))">
                <td>
                    {{dateFixer(flight.date)}}
                </td>
                <td>
                    {{addMinutes(flight.date,flight.duration)}}
                </td>
                <td> 
                    {{convertDuration(flight.duration)}} 
                </td>
                <td>
                    {{flight.flighNumber}} 
                </td>
                <td>
                    {{getPrice(flight.costeconomy,flight.costfirst)}}$
                </td>
            </tr>
        </tbody>
    </table>
    <div class="Proceeding">
      <input type="submit" value="Cancel" ng-click="return()">
    </div>
</div>
