<style>
    .Title 
    {
        text-align: center;
        display: flex;
        margin: 0.2%;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .Head
    {
        text-align: left;
        text-indent: 9.4%;
        background-color:hsla(219, 100%, 54%, 1);
        margin: 0;
        padding: 20px 0px 0px 0px;
        font-size:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.2);
    }
    hr
    {
        margin: 0;
    }
    .Book
    {
        font-weight: 300%;
        margin: 0px 20%;
        font-size: 70%;
        padding:0px 0px;
        text-align: center;
        align-items: center;
        justify-content: center; 
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
        background: hsla(219, 100%, 25%, 0.84);
        border-radius: 10px;
        color:white;
    }
    .Book p
    {
        font-weight: 300%;
        font-size: 300%;
        margin-bottom: 25px;
    }
    .DropDownButton
    {
        width: 228px;
        font-size:200%;
        padding:5px 21px;
        text-align: center;
        color:white;
        border-radius: 4px;
        border: 1px solid hsla(219, 100%, 25%, 0.84);
        background-color: hsla(219, 100%, 22%, 1);
    }
    .DropDownButton:hover
    {
        background:hsla(219, 100%, 12%, 1);
    }
    .listButton
    {
        font-size: 110%;
        width: 100%;
        text-align: left;
        border: 1px solid #fff;
        border-radius: 4px;
        background: white;
        color: hsla(0, 0%, 39%, 1);
        cursor: pointer; 
    }
    .listButton:hover
    {
        background:hsla(208, 72%, 39%, 1);
        color:white;
    }
    .airports
    {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 7%;
    }
    .input-group
    {
        width: 60%;
        margin-bottom: 5%;
        margin-left: 20%;
    }
    input[type=text]
    {
        padding: 0px 21px;
        margin-bottom: 10px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .Button
    {
        background-color: #1fa823;
        color: white;
        font-size: 200%;
        padding: 10px 25px;
        margin: 30px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .Button:hover 
    {
        background-color: #136716;
    }
    .alert
    {
        margin: 0 10% 0 10%;
        font-size: 110%;
    }
    .uib-alert
    {
        background-color: hsla(347, 88%, 51%, 1);
        border-color: white;
        color: white;
    }
    .btn-group label
    {
        margin-top:25px;
        margin-right:4px; 
        background: hsla(219, 100%, 22%, 1);
        border: none;
    }
    .btn-group label:hover
    {
        background:hsla(219, 100%, 12%, 1);
    }
    .vis-hidden
    {
        visibility: hidden;
    }
</style>
<div class="Title">
    <div class="col-sm-12">
        <p style='font-size: 40px; text-align: center'>
          Welcome to United Airlines
        </p>
    </div>
</div>
<div class="Book">
    <div class="Head">
        <p>Book Flight</p>
        <hr>
    </div>
    <div class = "alert">
        <uib-alert class ="uib-alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</uib-alert>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class = "airports">
                <input name="originAirports"
                        id="originAirports"
                        type="text"
                        ng-required="true"
                        placeholder="Flying From*"
                        ng-model="selectedOrigin"
                        uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                        class="form-control">
            </div>
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="dt1"
                     is-open="popup1.opened"
                     ng-required="true"
                     close-text="Close"
                     alt-input-formats="altInputFormats"
                     placeholder="Depart Date*" />
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
               </button>
              </span>
            </p>
            <div class="btn-group" uib-dropdown is-open="status.isopenP">
              <button id="single-button" type="button" class="DropDownButton" uib-dropdown-toggle ng-disabled="disabled">
                {{selectedP}} <i class="glyphicon glyphicon-menu-down" id = "x"></i>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><button type="button" class="listButton" id='btn1' ng-click='selectNum(1)'>1</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn2' ng-click='selectNum(2)'>2</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn3' ng-click='selectNum(3)'>3</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn4' ng-click='selectNum(4)'>4</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn5' ng-click='selectNum(5)'>5</button></li>
              </ul>
            </div>
            <br>

            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel1" uib-btn-radio="'One-way'" ng-click="one()" uib-uncheckable="false">One-way</label>
                <label class="btn btn-primary" ng-model="radioModel1" uib-btn-radio="'Roundtrip'" ng-click="round()"uib-uncheckable="false">Roundtrip</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class = "airports">
                <input name="destinationAirports"
                        id="destinationAirports"
                        type="text"
                        placeholder="Flying To*"
                        ng-required="true"
                        ng-model="selectedDestination"
                        uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                        class="form-control">
            </div>
            <p class="input-group">
                <input type="text"
                        class="form-control"
                        uib-datepicker-popup="{{format}}"
                        ng-model="dt2"
                        is-open="popup2.opened"
                        ng-required="true"
                        close-text="Close"
                        placeholder="Return Date*" 
                        ng-class="{'vis-hidden': hidden ==true}"
                        />
                <span class="input-group-btn">
                    <button type="button"
                        class="btn btn-default"
                        ng-click="open2()"
                        ng-class="{'vis-hidden': hidden ==true}"
                        >
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
            <div class="btn-group" uib-dropdown is-open="status.isopenC">
              <button id="single-button" type="button" class="DropDownButton" uib-dropdown-toggle ng-disabled="disabled">
                {{selectedC}} <i class="glyphicon glyphicon-menu-down" id = "x"></i>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><button type="button" class="listButton" id='eco' ng-click='selectCabin("Economy")'>Economy</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='first' ng-click='selectCabin("Business")'>Business</button></li>
              </ul>
            </div>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="radioModel2" uib-btn-radio="'United'" uib-uncheckable="false">United only</label>
            <label class="btn btn-primary" ng-model="radioModel2" uib-btn-radio="'Other'" uib-uncheckable="false">Other airlines</label>
        </div>
    </div>
  <button type="button" class="Button" id='btnSearch' ng-click='SearchFlights()'>Search  <i class="glyphicon glyphicon-search"></i></button>
</div>