<style>
    .Title 
    {
        text-align: center;
        display: flex;
        margin: 2%;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .Head
    {
        background-color:hsla(219, 100%, 54%, 0.73);
        margin: 0;
        padding: 20px 0px 0px 0px;
        font-size:300%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.2);
    }

    .Book
    {
        font-weight: 300%;
        margin: 0px 20%;
        font-size: 70%;
        padding:0px 0px;
        min-width: 700px;
        text-align: center;
        align-items: center;
        justify-content: center; 
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
        background: hsla(219, 100%, 25%, 0.84);
        border-radius: 15px;
        color:white;
    }
    .Book p
    {
        font-weight: 300%;
        font-size: 300%;
        margin-bottom: 25px;
    }
    .DropDownButton
    {
        min-width: 225px;
        font-size:200%;
        padding:6px 10px;
        color:white;
        border-radius: 4px;
        border: 1px solid hsla(219, 100%, 25%, 0.84);
        background-color: hsla(219, 100%, 22%, 1);
    }
    .DropDownButton:hover
    {
        background:hsla(219, 100%, 12%, 1);
    }
    .listButton
    {
        font-size: 110%;
        width: 100%;
        text-align: left;
        border: 1px solid #fff;
        border-radius: 4px;
        background: white;
        color: hsla(0, 0%, 39%, 1);
        cursor: pointer; 
    }
    .listButton:hover
    {
        background:hsla(208, 72%, 39%, 1);
        color:white;
    }
    .airports
    {
        width: 200%;
        margin-left: 20%;
        margin-bottom: 7%;
    }
    .input-group
    {
        width: 60%;
        margin-bottom: 5%;
        margin-left: 20%;
    }
    input[type=text]
    {
        width: 30%;
        padding: 12px 21px;
        margin-bottom: 10px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .Button
    {
        background-color: #1fa823;
        color: white;
        font-size: 200%;
        padding: 10px 25px;
        margin: 30px 0;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .Button:hover 
    {
        background-color: #136716;
    }
</style>
<div class="Title">
    <div class="col-sm-12">
        <p style='font-size: 45px; text-align: center'>
          Welcome to United Airlines.
        </p>
    </div>
</div>
<div class="Book">
    <div class="Head"
    <p>Search Flights</p>
    <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class = "airports">
                <input name="originAirports"
                        id="originAirports"
                        type="text"
                        placeholder="Flying From*"
                        ng-model="selectedOrigin"
                        uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                        class="form-control",
                        typeahead-on-select="SetOriginAirport($item.iata)">
            </div>
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="dt1"
                     is-open="popup1.opened"
                     ng-required="true"
                     close-text="Close"
                     alt-input-formats="altInputFormats"
                     placeholder="Depart Date*" />
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
               </button>
              </span>
            </p>
            <div class="btn-group" uib-dropdown is-open="status.isopenP">
              <button id="single-button" type="button" class="DropDownButton" uib-dropdown-toggle ng-disabled="disabled">
                {{selectedP}}<span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><button type="button" class="listButton" id='btn1' ng-click='selectNum(1)'>1</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn2' ng-click='selectNum(2)'>2</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn3' ng-click='selectNum(3)'>3</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn4' ng-click='selectNum(4)'>4</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='btn5' ng-click='selectNum(5)'>5</button></li>
              </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class = "airports">
                <input name="destinationAirports"
                        id="destinationAirports"
                        type="text"
                        placeholder="Flying To*"
                        ng-model="selectedDestination"
                        uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                        class="form-control",
                        typeahead-on-select="SetDestinationAirport($item.iata)">
            </div>
            <p class="input-group">
                <input type="text"
                        class="form-control"
                        uib-datepicker-popup="{{format}}"
                        ng-model="dt2"
                        is-open="popup2.opened"
                        ng-required="true"
                        close-text="Close"
                        placeholder="Return Date*" 
                        />
                <span class="input-group-btn">
                    <button type="button"
                        class="btn btn-default"
                        ng-click="open2()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
            <div class="btn-group" uib-dropdown is-open="status.isopenC">
              <button id="single-button" type="button" class="DropDownButton" uib-dropdown-toggle ng-disabled="disabled">
                {{selectedC}}<span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><button type="button" class="listButton" id='eco' ng-click='selectCabin("Economy")'>Economy</button></li>
                <li role="menuitem"><button type="button" class="listButton" id='first' ng-click='selectCabin("First Class")'>First Class</button></li>
              </ul>
            </div>
        </div>
    </div>
  <button type="button" class="Button" id='btnSearch' ng-click='SearchFlights()'>Search</button>
</div>