<style>
    .methodOfPayment 
    {
        text-align: left;
        overflow:auto;
        padding-top: 0px;
        padding-left: 20px; 
        padding-right:20px;
        color: white;
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 1); 
        background: hsla(219, 100%, 54%, 1);
    }
    .methodOfPayment h2
    {
        margin-left: 40px;
        font-size: 160%;
        font-weight: 600;
    }
    .data
    {
        text-align: left;
        align-items: left;
        align-content: left;
        float: left;
        height: :100%;
        padding-left: 20px;
        padding-right: 50px;
        padding-top: 15px;
        margin-left: 0px; 
        background:hsla(219, 100%, 25%, 0.84);
        padding-bottom:20px;
    }
    .methodOfPayment li 
    {
        display: inline;
        padding: 0px 30px 0px 0px;
        font-size: 120%;
    }
    input[type="text"]
    {
        height: 30px;
        padding-left: 21px;
        border-width: 1.5px;
        border-style: solid;
        border-color: white;
        font-size: 110%;
        border-radius: 4px;
        margin: 12px 40px;
        font-weight: 600;
    }
    select
    {
        height: 25px;
        padding-left: 5px;
        border-width: 1.5px;
        border-style: solid;
        border-color: white ;
        margin-right: 150px;
        width: 15%;
        border-radius: 4px;
        margin: 10px 40px;
        background-color: white;
    }
    .Button
    {
        border: 0;
        padding: 8px;
        margin-top: 65px;
        font-size: 22px;
        background: #1fa823;
        color:white;
        width: 170px;
        font-weight: bold;
        text-align: center;
        margin-right: 26%;
        border-radius: 5px;
        float: right;
    }
    .Button:hover 
    {
        background-color: #136716;
    }
    hr
    {
        margin: 0;
    }
    .logo
    {
        margin: 20px 60px;
        text-align: left;
    }
    p
    {
        padding-right: 600px;
        padding-top: 30px;
        margin:5px 0px 0px 40px; 
        line-height: 19px;
        color:white;
        font-size:90%;
    }

</style>





<div class="methodOfPayment">




    <h2> Card type:</h2>
    <ul>
        <li> <input type="radio" name="method" value="Visa"> Visa </li> 
        <li> <input type="radio" name="method" value="masterCard"> Master Card </li> 
        <li> <input type="radio" name="method" value="americanExpress"> American Express </li>  
    </ul>

</div>
<hr>
<div class="data" id="payment-form">
    
    <input type="text" ng-required="true" ng-model="fn" name="firstName" placeholder="First name" size="30"  >
    <input type="text" ng-required="true" ng-model="ln" name="lastName" placeholder="Last name" size="30"  > <br>
    <input type="text" ng-required="true" ng-model="number" name="cardNumber" placeholder="Card number" size="30"> 
    <input type="text" ng-required="true" ng-model="cvc" name="cvc" placeholder="CVC" size="30"> <br>
    <input type="text" ng-required="true" ng-model="expy" name="expirationYear" placeholder="Expiration Year" size="30"> 
    <input type="text" ng-required="true" ng-model="expm" name="expirationMonth" placeholder="Expiration Month" size="30"> <br> 
    <input type="text" ng-required="true" name="address" placeholder="Billing address" size="30">
    <input type="text" ng-required="true" ng-model="dob" placeholder="Date Of Birth DD/MM/YYYY" size="30"><br>
    <input type="text" ng-required="true" name="city" placeholder="City/town" size="30">
    <input type="text" ng-required="true" name="zip" placeholder="ZIP/postal code" size="30"  ><br>

    <select ng-model="country" id="countries" name="countries" >   
        <option value="" disabled selected>Country</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Argentina">Argentina</option>
        <option value="Armenia">Armenia</option>
        <option value="Australia">Australia</option>
        <option value="Austria">Austria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="Bahamas">Bahamas</option>
        <option value="Bahrain">Bahrain</option>
        <option value="Bangladesh">Bangladesh</option>
        <option value="Belgium">Belgium</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Brazil">Brazil</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Cambodia">Cambodia</option>
        <option value="Cameroon">Cameroon</option>
        <option value="Canada">Canada</option>
        <option value="Chad">Chad</option>
        <option value="Chile">Chile</option>
        <option value="China">China</option>
        <option value="Colombia">Colombia</option>
        <option value="Egypt">Egypt</option>
        <option value="Finland">Finland</option>
        <option value="France">France</option>
        <option value="Iraq">Iraq</option>
        <option value="Ireland">Ireland</option>
        <option value="Israel">Israel</option>
        <option value="Italy">Italy</option>
        <option value="Jamaica">Jamaica</option>
        <option value="Japan">Japan</option>
        <option value="Madagascar">Madagascar</option>
        <option value="Mexico">Mexico</option>
        <option value="Poland">Poland</option>
        <option value="Portugal">Portugal</option>
        <option value="Qatar">Qatar</option>
        <option value="Romania">Romania</option>
        <option value="Russian Federation">Russian Federation</option>
        <option value="Saudi Arabia">Saudi Arabia</option>
        <option value="Senegal">Senegal</option>
        <option value="Serbia">Serbia</option>
        <option value="Singapore">Singapore</option>
        <option value="Slovakia">Slovakia</option>
        <option value="Slovenia">Slovenia</option>
        <option value="Somalia">Somalia</option>
        <option value="South Africa">South Africa</option>
        <option value="Sweden">Sweden</option>
        <option value="Switzerland">Switzerland</option>
        <option value="United Arab Emirates">United Arab Emirates</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="United States">United States</option>
    </select>
    <br>
  



    <button class="Button" align="center" ng-click='home()'>Purchase  <i class="glyphicon glyphicon-usd"></i>
    </button>
    <p>
        Purchase of this ticket means you understand and agree to all fare rules associated with this non-refundable ticket,United's dangerous goods policy, and the terms and conditions in United's Contract of Carriage, and the collection, processing and transfer of your information to the United States for handling in accordance with our privacy policy.
    </p>
  <br>

</div>