<style>
	.Head
    {
    	/*display: inline;*/
        text-align: left;
        height: 80px;
        background-color:hsla(219, 100%, 54%, 0.83);
        padding: 10px 0px 0px 0px;
        font-size:200%;
		font-weight: 300%;
        margin: 1% 30% 0% 30%;
        font-size: 70%;
        padding:0px 0px; 
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
    }
    hr
    {
    	margin: 0 30%;
    	height: 2px;
    	padding: 0px;
    	background: white;
    	border: none;
    }
	.col-lg-6
	{
		margin-top: 4.4%;
		margin-left: 40px;
		padding: 0;
	}
	.Body
	{
		line-height: 40px;
		color: white;
		background: hsla(219, 100%, 25%, 0.84);
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
		margin: 0 30%;
		text-align: left;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
		font-size: 130%; 
	}
	.Body label
	{
		padding-left: 40px;
	}
</style>

<div class ="Head">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="selectedBookingRefNumber" placeholder="Booking Reference Number">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="search()" style="background:#00bd35;color: white;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</span>
		</div>
	</div>
</div>
<hr>
<div uib-collapse="isCollapsed">
	<div class="Body">
		<label style="margin-right:120px;">From: {{origin}}</label>
		<label>To : {{destination}}</label>
		<br>
		<label>Cabin : {{cabin}}</label>
		<br>
		<label>Flight Number: {{flightNumber}}</label>
		<br>
  		<label>Seat Number: {{seatNumber}}</label>
		<br>
  		<label>Departure: {{departureTime}}</label>
		<hr style="width: 100%;margin: 0% 0%">
		<div ng-hide="hidden">
			<label style="margin-right:120px;">From: {{origin2}}</label>
			<label>To : {{destination2}}</label>
			<br>
			<label>Cabin : {{cabin2}}</label>
			<br>
			<label>Flight Number: {{flightNumber2}}</label>
			<br>
	  		<label>Seat Number: {{seatNumber2}}</label>
			<br>
	  		<label>Departure: {{departureTime2}}</label>
		</div>
	</div>
</div>