<style>
    .proceedContainer
    {	
        background: hsla(219, 100%, 25%, 0.84);
        padding: 0px 0px 0px 0px;
        border-radius: 10px;
        margin: 8% 20% 0% 20%;
        min-height: 240px;
        line-height: 2;
        font-family: Lato, Arial, sans-serif;
        text-align: center;
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
    }

    .confirmBtn
    {
        width: 20%;
        height:60%;
        background-color: #1fa823;
        color: white;
        font-size: 150%;
        padding: 0;
        margin: 40px 10px 0px 0px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .confirmBtn:hover 
    {
        background-color: #136716;
    }
    h4
    {
        background-color:hsla(219, 100%, 54%, 0.73);
        margin: 0;
        padding: 20px 0px 0px 0px;
        /*font-size:300%;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
        box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.2);
        color:white;
        font-size:150%;
        font-weight:600; 
    }
    h3
    {
        color:white;
        font-weight: 400;
        margin-bottom: 0px;    
    }
</style>
<div class="proceedContainer">
	<h4> Thank You for choosing United Airlines <i class="glyphicon glyphicon-heart" style="color:red"></i><hr>
    </h4>
    <h3> Your Booking Reference Number is : {{brn1}} from {{airline1}} </h3>
    <h3 ng-hide="hidden"> Your Second Booking Reference Number is : {{brn2}} from {{airline2}} </h3>
    <button type="button" class="confirmBtn" id='btnHome' ng-click='home()'>Home <i class="glyphicon glyphicon-home"></i></button>
</div>
